
{% include 'adminheader.html' %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
    <h2>Update Status</h2>
<table class="table">
    <form action="pending_updating_status_student" method="post">
        <tr>
            <th><label class="text-success">Status :</label></th>
            <td>
              <select id="status" name="status"  required >
                <option value="{{ data['status']}}" selected>{{ data['status']}}(default)</option>
                <option value="pending">pending</option>
                <option value="approved">approved</option>
              </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><input type="submit" value="update" class="btn btn-primary"></td>
        </tr>
    </form>
</table>
</div>
{% include 'PageFooter.html' %}