
{% include 'adminheader.html' %}


<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <h2 >Welcome to Admin_View</h2>
  <table style="width:100%" class="table">
  <tr>
    <th><a href="register_degree_link" class="btn-get-started animate__animated animate__fadeInUp scrollto"> Register Degree</a></th>
    <th><a href="view_all_degree" class="btn-get-started animate__animated animate__fadeInUp scrollto"> View Degree</a></th>
  </tr>
  <tr>
    <th><a href="register_staff" class="btn-get-started animate__animated animate__fadeInUp scrollto"> Register Staff</a></th>
    <th><a href= "view_all_staff" class="btn-get-started animate__animated animate__fadeInUp scrollto"> View Staffs</a></th>
  </tr>
  <tr>
    <th><a href="admin_view_approved_files" class="btn-get-started animate__animated animate__fadeInUp scrollto"> approved notes</a></th>
    <th><a href= "admin_pending_view_files" class="btn-get-started animate__animated animate__fadeInUp scrollto"> pending notes</a></th>
  </tr>
  <tr>
    <th><a href="admin_view_approved_students" class="btn-get-started animate__animated animate__fadeInUp scrollto"> approved students</a></th>
    <th><a href= "admin_pending_students" class="btn-get-started animate__animated animate__fadeInUp scrollto"> pending student</a></th>
  </tr>
</table>

</div>


{% include 'PageFooter.html' %}

