
{% include 'adminheader.html' %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
<h2>View Degree</h2>

<table style="width:100%" class="table">
  <tr>
    <th>Sl no.</th>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>


  </tr>
{% for data in cdata %}
  <tr>
    <td>{{loop.index }}</td>
    <td>  {{data['name']}}  </td>
    <td>{{data['description']}}</td>
    <td> <a href="/delete_degree?id={{ data['iddegree'] }}">Remove</a></td>
    <td> <a href="/edit_degree_link?id={{ data['iddegree'] }}">Edit</a></td>
    <td> <a href="/view_subject?id={{ data['iddegree'] }}">view subject</a></td>
    <td> <a href="/register_subject?id={{ data['iddegree'] }}">add subject</a></td>
  </tr>
  {% endfor %}
</table>
</div>
{% include 'PageFooter.html' %}


