
{% include 'adminheader.html' %}

<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <h2>View Subjects</h2>

<table style="width:100%" class="table">
  <tr>
    <th>Sl No.</th>
    <th>Name</th>
    <th>Semester</th>
    <th></th>
     <th></th>



  </tr>
{% for data in cdata %}
  <tr>
    <td>  {{loop.index}} </td>
    <td>  {{data['name']}}  </td>
    <td>  {{data['semester']}}  </td>



    <td>
      <a href="edit_subject_link?id={{data['idsubject']}}">edit</a>
    </td>
    <td>
  <a href="delete_subject?id={{data['idsubject']}}">remove</a>
</td>
  </tr>
    {% endfor %}
</table>

</div>

{% include 'PageFooter.html' %}