
{% include 'adminheader.html' %}
<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">

<h2>View Staff</h2>

<table style="width:100%" class="table">
  <tr>
    <th>Sl no.</th>
    <th>Staff Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Password</th>
    <th></th>
    <th></th>

  </tr>
{% for data in staff %}
  <tr>
    <td>{{loop.index }}</td>
    <td> {{data['user_id']}} </td>
    <td>{{data['name']}}  </td>
    <td>{{data['address']}}</td>
    <td> {{data['email']}} </td>
    <td>{{data['phone']}}  </td>
    <td> {{data['password']}} </td>
    <td> <a href="/edit_staff_link?id={{ data['user_id'] }}">Edit</a></td>
    <td> <a href="/delete_staff?id={{ data['user_id'] }}">Remove</a></td>

  </tr>
{% endfor %}
</table>
</div>
{% include 'PageFooter.html' %}