
{% include 'staffheader.html' %}

<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
<h2>Welcome To Staff View</h2>
<table  class="table">
  <tr>
    <td><a href="/staff_view_degree">Upload Notes..</a></td>
  </tr>
  <tr>
    <td><a href="/staff_cart_files">View Your Uploads..</a></td>
  </tr>
  <tr>
    <td><a href="/staff_view_degree">View Notesstaff_view_approved_files</a></td>
  </tr>



</table>
</div>



{% include 'PageFooter.html' %}


