
{% include 'studentheader.html' %}



<div class="container" align="center" style=" min-height:50vh; margin-top:100px; margin-bottom: 75px;">
  <h2>View Degree</h2>
<table class="table">
  <tr>
    <td>Sl No.</td>
    <th>Name</th>
    <th>Description</th>
    <th>Semester</th>
    <th></th>


  </tr>
{% for data in cdata %}
  <tr>
    <form action="student_view_subject" method="post">
    <td>{{loop.index }}</td>
    <td>  {{data['name']}}  </td>
    <td>{{data['description']}}</td>
    <td>
      <select  name="semester"  required >
        <option value="" >------------</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </td>
      <td>
        <input type="hidden" value="{{ data['iddegree'] }}" name="iddegree">
      <input type="submit" value="View Subject" class="btn btn-primary">
    </td>
       </form>
  </tr>
  {% endfor %}
</table>

</div>

{% include 'PageFooter.html' %}
